.cart {
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    min-height: 90vh;
    overflow: auto;
    text-align: center;
}

.cart_header {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: black;
}

.cart_body {
    width: 70%;
    margin: auto;
}

.cart_body_table_applevariety {
    width: 150px;
}

.cart_body_table_options {
    width: 20px
}

.cart_body_buttons {
    display: flex;
    justify-content: center;
}

.cart_body_buttons_subtract,
.cart_body_buttons_add,
.cart_body_table_options button {
    color: black;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.cart_body_buttons_input {
    width: 45%;
    text-align: center;
    margin: 1px 10px 1px 10px;
}

.cart_body_buttons_subtract:hover,
.cart_body_buttons_add:hover,
.cart_body_table_options button:hover {
    color: #1f98f4;
}

.cart_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.cart_footer div,
.cart_footer Button {
    margin: 5px;
}

.cart_footer Button {
    background-color: black;
    width: 150px;
}

.cart_footer Button:hover {
    background-color: #1f98f4;
}

@media screen and (max-width: 650px) {
    .cart_footer {
        display: block;
    }
}