.edittree {
    min-height: 90vh;
    width: 90%;
    margin: auto;
}

.edittree_header {
    margin-top: 20px;
}

.edittree_header h1 {
    text-align: center;
}

.edittree_body Form {
    width: 250px;
    margin: auto;
}

.edittree_footer {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edittree_footer_button {
    margin-top: 10px;
    width: 250px;
    background-color: black;
}

.edittree_footer_button:hover {
    background-color: #1f98f4;
}