.editorder {
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    overflow: auto;
    text-align: center;
}

.editorder_header {
    width: 70%;
    margin: 20px auto;
    text-align: left;
    color: black;
}

.editorder_header_top {
    display: flex;
    justify-content: space-between;
}

.editorder_header_top_backbutton {
    color: black;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5em;
}

.editorder_header_top_backbutton:hover {
    color: #1f98f4;
}

.editorder_header_bottom {
    display: flex;
    justify-content: space-between;
}

.editorder_body {
    width: 70%;
    margin: auto;
}

.editorder_body_buttons {
    display: flex;
    justify-content: center;
}

.editorder_body_buttons_subtract {
    color: black;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.editorder_body_buttons_input {
    width: 45%;
    text-align: center;
    margin: 1px 10px 1px 10px;
}

.editorder_body_buttons_add {
    color: black;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.editorder_body_buttons_subtract:hover,
.editorder_body_buttons_add:hover {
    color: #1f98f4;
}

.editorder_body_options Button,
.editorder_body_dropdown {
    background-color: black;
    width: 150px;
}

.editorder_body_options Button:hover,
.editorder_body_dropdown:hover {
    background-color: #1f98f4;
}