.login-container {
    min-height: 90vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container > h3{
    text-align: center;
}

.login-container > Label {
    color: black;
}

.login-container-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-container-options > p {
    margin: 0px;
}

.login-container-options > Button {
    background-color: black;
}

.login-container-options > Button:hover {
    background-color: #1f98f4;
}

@media screen and (max-width: 820px) {

    .login-container-options {
        display: block;
        text-align: center;
    }
}