.orderhistory_header {
    margin-top: 20px;
    text-align: center;
}

.orderhistory_body {
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    min-height: 85vh;
    overflow: auto;
}

.orderhistory_body Button {
    background-color: black;
}

.orderhistory_body Button:hover {
    background-color: #1f98f4;
}