.updatepassword {
    min-height: 90vh;
    margin-top: 20px;
}

.updatepassword_header {
    text-align: center;
}

.updatepassword_body {
    width: 250px;
    margin: auto;
}

.updatepassword_footer {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.updatepassword_footer Button {
    width: 150px;
    background-color: black;
}

.updatepassword_footer Button:hover {
    background-color: #1f98f4;
}