.viewemployees {
    min-height: 90vh;
    margin-bottom: 20px;
    width: 90%;
    margin: 20px auto 20px auto;
    text-align: center;
}

.viewemployees_header {
    width: 90%;
    position: relative;
    margin: auto;
    text-align: center;
}

.viewemployees_header h1 {
    display: inline-block;
}

.viewemployees_header_inputs {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 125px;
    margin-top: 0.5%;
}

.viewemployees_body_button_edit,
.viewemployees_body_button_position {
    color: black;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5em;
}

.viewemployees_body_button_reset {
    color: red;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5em;
}

.viewemployees_body_button_edit,
.viewemployees_body_button_position,
.viewemployees_body_button_reset {
    margin: 5px;
    padding: 0;
}

.viewemployees_body_button_edit:hover,
.viewemployees_body_button_position:hover,
.viewemployees_body_button_reset:hover,
.viewemployees_header_inputs_button:hover {
    color: #1f98f4;
}

.viewemployees_body_pagination {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .viewemployees_body_pagination {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {
    .viewemployees_body_pagination {
        width: 100%;
    }

    .viewemployees_header_inputs {
        position: static;
        top: auto;
        right: auto;
        text-align: center;
        margin-top: 0.5%;
        margin: auto;
    }
}